// MAINP :: START

#mainp.mainp
  .c-grid
    .mainp__wrapper

      h1.mainp__title!= "My Playlists"

      p.mainp__text!= "Welcome! The Sharaby Family Online Audio Library website allows you to create playlists of shiurim. This allows you to create lists of shiurim that you would like to listen to or to keep records of shiurim that you enjoy."
      p.mainp__text.mainp__text--bold!= "Note that these lists are stored on your computer ONLY. You will not be able to see them on another computer."

      a(
        href="#"
        title=""
        class="mainp__btn"
      )
        i
        span!= "add playlist"


// MAINP :: END