//- MIXIN :: START


//- SVG SPRITE
mixin iconSVG(name, mod)
  - var mod = mod || ''
  svg(class="icon icon-" + name + ' ' + mod)
    use(xlink:href="./img/sprite.svg#" + name)
//- end SVG SPRITE


//- TABLE
mixin table(classMod, headerDataArr, bodyDataArr)
  .table(class="table--" + classMod)
    .table__header
      .table__row.table__row-0
        .table__row-head
          .table__col.table__col-0
            p
              a(href="#" title!="" class!="")!= headerDataArr[0]
          .table__col.table__col-1
            p
              a(href="#" title!="" class!="")!= headerDataArr[1]
        .table__row-body
          .table__col.table__col-2
            p
              a(href="#" title!="" class!="")!= headerDataArr[2]
          .table__col.table__col-3
            p
              a(href="#" title!="" class!="")!= headerDataArr[3]
          .table__col.table__col-4
            p!= headerDataArr[4]
          .table__col.table__col-5
            p!= headerDataArr[5]

    .table__body
      -for(var i = 0, countBody = 1, len = bodyDataArr.length; i < len; i++, countBody++)
        .table__row(class="table__row-" + (countBody))
          .table__row-head(table-head-js class!= (i === 0) ? "is-open": "" )
            .table__col.table__col-0
              a.table__play(href="#" title="" class="")
                i
            .table__col.table__col-1
              p
                != bodyDataArr[i].nameVal
              a(href="#" title!="" class!="")
                i
          .table__row-body(talbe-body-js class!= (i === 0) ? "is-show": "" )
            .table__col.table__col-2
              span!="Speaker"
              p!= bodyDataArr[i].speakerVal
            .table__col.table__col-3
              span!="Category"
              p!= bodyDataArr[i].categoryVal
            .table__col.table__col-4
              span!="Length"
              p!= bodyDataArr[i].lengthVal
            .table__col.table__col-5
              span!="Action"
              a.table__add(href="#" title="" class="")
                i
              a.table__download(href="#" title="" class="")
                i
              a.table__share(href="#" title="" class="")
                i
              a.table__send(href="#" title="" class="")
                i
//- end TABLE

//- MIXIN :: END