// MAIN CATEGORY :: START


section#mainc.mainc
  .c-grid
    .mainc__wrapper

      .mainc__block
        .mainc__block-head
          a(
            href="#"
            title=""
            class="mainc__block-link"
          )!= "Machshava/Hashkafa"

        .mainc__block-body(maincBlock-body-js)

          a(href="#" title="" class="")!= "Questions and Answers"
          a(href="#" title="" class="")!= "Limud HaTorah"
          a(href="#" title="" class="")!= "Life and Mourning"
          a(href="#" title="" class="")!= "Philosophy"
          a(href="#" title="" class="")!= "Emunah"
          a(href="#" title="" class="")!= "Middos"
          a(href="#" title="" class="")!= "Bitachon"
          a(href="#" title="" class="")!= "Da Ma Shetashiv"
          a(href="#" title="" class="")!= "Chizuk"
          a(href="#" title="" class="")!= "Nisyonos"
          a(href="#" title="" class="")!= "Mysticism"
          a(href="#" title="" class="")!= "Moshiach"
          a(href="#" title="" class="")!= "Kiruv"
          a(href="#" title="" class="")!= "Chassidus"
          a(href="#" title="" class="")!= "Religion"


// MAIN CATEGORY :: END