// USER :: START

.user
  .c-grid
    .user__container
      .user__wrapper
        .user__wrapper-top
          a(
            href="#"
            title=""
            class="user__btn"
          )
            i
            span!= "PLAY NOW"

          p.user__title!= "Difference Between Noach and Avraham (Length: 32 min)"

        .user__wrapper-middle
          .user__wrapper-left
            div
              img(
                src="./img/img-ava-0__featured.png"
                srcset="./img/img-ava-0__featured@2x.png 2x"
                alt=""
                title=""
               )
            div
              .user__info-wrap
                .user__info.user__info-0
                  p!= "Rabbi Aaron Feldman"
                .user__info.user__info-1
                  p!= "<span>Language:</span> English"
                .user__info.user__info-2
                  p!= "<span>Date Recorded:</span> 12/21/2016"
                .user__info.user__info-3
                  p!= "<span>Category:</span> Lech Lecha"
                .user__info.user__info-4
                  p!= "<span>Audio Quality:</span> Analog/Cassette"
                .user__info.user__info-5
                  p!= "<span>Statistics:</span> 100 Plays | 32 Downloads"

          .user__wrapper-right
            .user__link-wrap
              a(
                href="#"
                title=""
                class="user__link user__link--attach"
              )
                i
                span!= "Shiur Handout"
              a(
                href="#"
                title=""
                class="user__link user__link--add"
              )
                i
                span!= "Add to Playlist"
              a(
                href="#"
                title=""
                class="user__link user__link--download"
              )
                i
                span!= "Download"
              a(
                href="#"
                title=""
                class="user__link user__link--share"
              )
                i
                span!= "Share on social media"
              a(
                href="#"
                title=""
                class="user__link user__link--send"
              )
                i
                span!= "Send by email"

            .user__email
              p!= "For comments and questions please email&nbsp;"
              a(
                href="#"
                title=""
                class=""
              )!= "audio.library@nirc.edu"


        .user__wrapper-bottom
          p!= "Rabbi Aaron Feldman's shiurim have been dedicated by the Cohenovitch Family in memory of their dear father and grandfather, Harav Chaim ben Levi HaCohen"

// USER :: END