// FOOTER :: START

footer#footer.footer
  .c-grid

    .footer__bar

    .footer__wrapper
      .footer__left.col-3.col-md-3
        p.footer__title!= "site map"

        .footer__menu
          ul.footer__menu-list
            li.footer__menu-item
              a.footer__menu-link(href="#" title="")!= "Speakers"
            li.footer__menu-item
              a.footer__menu-link(href="#" title="")!= "Donate"

      .footer__middle.col-9.col-md-4

        p.footer__title!= "contact us"
        p.footer__text!= "If you are in the market for a computer, there are a number of factors to consider. Will it be used for your home, your office or perhaps even your home office combo? First off, you will need to set a budget for your new purchase before deciding whether to shop for notebook..."

      .footer__right.col-12.col-md-5

        form.footer__form(action="" method="" autocomplete="off")
          .footer__form-field
            input(type="text" name="name" class="" placeholder="Name")
          .footer__form-field
            input(type="text" name="email" class="" placeholder="E-mail")
          .footer__form-field
            input(type="text" name="text" class="" placeholder="Put your text here")
          .footer__form-field
            button.footer__form-btn(type="submit")!= "Send"

// FOOTER :: END