// MAIN SPEAKER :: START


section#mains.mains
  .c-grid
    .mains__wrapper
      .mains__wrapper-left

        .mains__user
          .mains__user-head
            .mains__user-img
              img.swiper-slide-img(
                src="./img/img-ava-1__featured.png"
                srcset="./img/img-ava-1__featured@2x.png 2x"
                title=""
                alt=""
                objectFit-js
              )
            p.mains__user-name!= "Rabbi Aron Feldman"

          .mains__user-body
            p.mains__user-text!= "Many people would say that it is absolute madness to keep on doing the same thing, time after time, expecting to get a different result or for something different to happen. Alternatively, many people, especially those in the personal development, NLP and wellness fields of varying natures, would describe it as intelligent to have a goal and be wonderfully flexible about how you go about achieving it."
            p.mains__user-text!= "It is this intelligent idea of enhancing wellness that I want to highlight today with NLP."
            p.mains__user-text!= "I was working with a corporate client recently and had been working with one of their senior managers using NLP and various other techniques. He had wanted his team to carry out a piece of project work in a certain way. He said to me that he had told them again and again (12 times in total), but they still weren’t doing what he wanted."

          .mains__user-footer
            p!= "Rabbi Aron Feldman's shiurim have been dedicated by the Cohenovitch Family in memory of their dear father and grandfather, Harav Chaim ben Levi HaCohen"

      .mains__wrapper-right

        .mains__table
          .mains__table-head
            p!= "Popular"

          .mains__table-body
            .table(class="table--mains")
              .table__body
                .table__row(class="table__row-1")
                  .table__col.table__col-0
                    a.table__play(href="#" title="" class="")
                      i
                    a.table__add.table__add--white(href="#" title="" class="")
                      i
                  .table__col.table__col-1
                    p
                      a(href="#" title!="" class!="")!= "Protecting Intellectual Property In Jewish Law (2017 - 02 - 15) (B)"
                  .table__col.table__col-5
                    a.table__menu(href="#" title="" class="")
                      i
                    .table__drop.animated
                      ul
                        li
                          a(href="#" title="" class="")
                            i
                            span!= "Download"
                        li
                          a(href="#" title="" class="")
                            i
                            span!= "Share"
                        li
                          a(href="#" title="" class="")
                            i
                            span!= "Send"

                .table__row(class="table__row-2")
                  .table__col.table__col-0
                    a.table__play(href="#" title="" class="")
                      i
                    a.table__add.table__add--white(href="#" title="" class="")
                      i
                  .table__col.table__col-1
                    p
                      a(href="#" title!="" class!="")!= "Protecting Intellectual Property In Jewish Law (2017 - 02 - 15) (B)"
                  .table__col.table__col-5
                    a.table__menu(href="#" title="" class="")
                      i
                    .table__drop.animated
                      ul
                        li
                          a(href="#" title="" class="")
                            i
                            span!= "Download"
                        li
                          a(href="#" title="" class="")
                            i
                            span!= "Share"
                        li
                          a(href="#" title="" class="")
                            i
                            span!= "Send"

                .table__row(class="table__row-3")
                  .table__col.table__col-0
                    a.table__play(href="#" title="" class="")
                      i
                    a.table__add.table__add--white(href="#" title="" class="")
                      i
                  .table__col.table__col-1
                    p
                      a(href="#" title!="" class!="")!= "Protecting Intellectual Property In Jewish Law (2017 - 02 - 15) (B)"
                  .table__col.table__col-5
                    a.table__menu(href="#" title="" class="")
                      i
                    .table__drop.animated
                      ul
                        li
                          a(href="#" title="" class="")
                            i
                            span!= "Download"
                        li
                          a(href="#" title="" class="")
                            i
                            span!= "Share"
                        li
                          a(href="#" title="" class="")
                            i
                            span!= "Send"

                .table__row(class="table__row-4")
                  .table__col.table__col-0
                    a.table__play(href="#" title="" class="")
                      i
                    a.table__add.table__add--white(href="#" title="" class="")
                      i
                  .table__col.table__col-1
                    p
                      a(href="#" title!="" class!="")!= "Protecting Intellectual Property In Jewish Law (2017 - 02 - 15) (B)"
                  .table__col.table__col-5
                    a.table__menu(href="#" title="" class="")
                      i
                    .table__drop.animated
                      ul
                        li
                          a(href="#" title="" class="")
                            i
                            span!= "Download"
                        li
                          a(href="#" title="" class="")
                            i
                            span!= "Share"
                        li
                          a(href="#" title="" class="")
                            i
                            span!= "Send"

                .table__row(class="table__row-5")
                  .table__col.table__col-0
                    a.table__play(href="#" title="" class="")
                      i
                    a.table__add.table__add--white(href="#" title="" class="")
                      i
                  .table__col.table__col-1
                    p
                      a(href="#" title!="" class!="")!= "Protecting Intellectual Property In Jewish Law (2017 - 02 - 15) (B)"
                  .table__col.table__col-5
                    a.table__menu(href="#" title="" class="")
                      i
                    .table__drop.animated
                      ul
                        li
                          a(href="#" title="" class="")
                            i
                            span!= "Download"
                        li
                          a(href="#" title="" class="")
                            i
                            span!= "Share"
                        li
                          a(href="#" title="" class="")
                            i
                            span!= "Send"


// MAIN SPEAKER :: END