// LOGOTYPE :: START

.logo
  a.logo__link(href="/" title="")
    img.logo__img.logo__img--desktop(
      src="./img/img-logotype.png"
      srcset="./img/img-logotype@2x.png 2x"
      title=""
      alt=""
      class=""
    )
    img.logo__img.logo__img--mobile(
      src="./img/img-logotype--mobile.png"
      srcset="./img/img-logotype--mobile@2x.png 2x"
      title=""
      alt=""
      class=""
    )

// LOGOTYPE :: END