// LOGOTYPE :: START

.logo
  a.logo__link(href="#" title="")
    img.logo__img(
      src="./img/img-logotype.png"
      srcset="./img/img-logotype@2x.png 2x"
      title=""
      alt=""
      class=""
    )

// LOGOTYPE :: END