// NAV :: START

-
  var navItem = [
    {
      name: "Gemara",
      href: "#"
    },
    {
      name: "Halacha",
      href: "#"
    },
    {
      name: "Moadim",
      href: "#"
    },
    {
      name: "Parsha/Nach",
      href: "#"
    },
    {
      name: "Machshava/Hashkafa",
      href: "#"
    },
    {
      name: "Occasions",
      href: "#"
    }
  ];

nav.nav
  ul.nav__list
    each val, idx in navItem
      li.nav__item(
        menu-item-js
      )
        a.nav__link(
          href!= navItem[idx].href
          title!= ""
        )!= navItem[idx].name

        .nav__link-drop
          .nav__link-drop--head
            p!= navItem[idx].name
          .nav__link-drop--body
            ul
              li
                a(href="#")!= "סדר זרעים"
              li
                a(href="#")!= "(4) ברכות "

            ul
              li
                a(href="#")!= "סדר נשים"
              li
                a(href="#")!= "(4) יבמות"
              li
                a(href="#")!= "(4) כתובות"
              li
                a(href="#")!= "(4) נדרים"
              li
                a(href="#")!= "(4) נזיר"
              li
                a(href="#")!= "(4) סוטה"
              li
                a(href="#")!= "(4) גיטין"
              li
                a(href="#")!= "(4) קידושין"

            ul
              li
                a(href="#")!= "סדר קדשים"
              li
                a(href="#")!= "(4) זבחים"
              li
                a(href="#")!= "(4) מנחות"
              li
                a(href="#")!= "(4) חולין"
              li
                a(href="#")!= "(4) בכורות"
              li
                a(href="#")!= "(4) ערכין"
              li
                a(href="#")!= "(4) תמורה"
              li
                a(href="#")!= "(4) כריתות"
              li
                a(href="#")!= "(4) מעילה"
              li
                a(href="#")!= "(4) תמיד"

            ul
              li
                a(href="#")!= "סדר מועד"
              li
                a(href="#")!= "(4) נדה"
            ul
              li
                a(href="#")!= "סדר נזיקין"
              li
                a(href="#")!= "(4) בבא קמא"
              li
                a(href="#")!= "(4) בבא מציעא"
              li
                a(href="#")!= "(4) בבא בתרא"
              li
                a(href="#")!= "(4) סנהדרין"
              li
                a(href="#")!= "(4) מכות"
              li
                a(href="#")!= "(4) שבועות"
              li
                a(href="#")!= "(4) עבודה זרה"
              li
                a(href="#")!= "(4) הוריות"

            ul
              li
                a(href="#")!= "סדר טהרות"
              li
                a(href="#")!= "(4) שבת"
              li
                a(href="#")!= "(4) עירובין"
              li
                a(href="#")!= "(4) פסחים"
              li
                a(href="#")!= "(4) ראש השנה"
              li
                a(href="#")!= "(4) יומא"
              li
                a(href="#")!= "(4) סוכה"
              li
                a(href="#")!= "(4) ביצה"
              li
                a(href="#")!= "(4) תענית"
              li
                a(href="#")!= "(4) מגילה"
              li
                a(href="#")!= "(4) מועד קטן"
              li
                a(href="#")!= "(4) חגיגה"

    li.nav__item
      a.nav__btn(
        href= "myPlaylist.html"
        title!= ""
      )
        i
        span!= "My Playlists"


// NAV :: END