// PAGINATION :: START

.pagination
  ul.pagination__list
    li.pagination__item
      a.pagination__link.is-active(
        href!= "#"
        title!= ""
      )!= "1"
    li.pagination__item
      a.pagination__link(
        href!= "#"
        title!= ""
      )!= "2"
    li.pagination__item
      a.pagination__link(
        href!= "#"
        title!= ""
      )!= "3"
    li.pagination__item
      a.pagination__link(
        href!= "#"
        title!= ""
      )!= "4"
    li.pagination__item
      a.pagination__link(
        href!= "#"
        title!= ""
      )!= "5"
    li.pagination__item
      a.pagination__link(
        href!= "#"
        title!= ""
      )!= "6"
    li.pagination__item
      a.pagination__link(
        href!= "#"
        title!= ""
      )!= "7"
    li.pagination__item
      a.pagination__empty(
        href!= "#"
        title!= ""
      )!= "..."
    li.pagination__item.pagination__item--max
      a.pagination__link.pagination__link--max(
        href!= "#"
        title!= ""
      )!= "11"
    li.pagination__item
      a.pagination__btn(
        href!= "#"
        title!= ""
      )!= "Next >"
    li.pagination__item
      a.pagination__btn(
        href!= "#"
        title!= ""
      )!= "Last"


// PAGINATION :: END