// SEARCH :: START

.search(search-wrap-js)
  form.search__form(action="" method="" autocomplete="off")
    .search__field
      input.search__input(type="text" name="search" id="" placeholder="Search")
      label.search__label(
        search-keyboard-js
      )
        i.search__label-icon

    .search__field
      button.search__btn(type="button")
        i.search__btn-icon

    .search__keyboard
      .search__keyboard-top
        ul.search__keyboard-list.search__keyboard-list--0
          li
            a(href="#" title="" class="")
              span!= "י"
          li
            a(href="#" title="" class="")
              span!= "ט"
          li
            a(href="#" title="" class="")
              span!= "ח"
          li
            a(href="#" title="" class="")
              span!= "ז"
          li
            a(href="#" title="" class="")
              span!= "ו"
          li
            a(href="#" title="" class="")
              span!= "ה"
          li
            a(href="#" title="" class="")
              span!= "ד"
          li
            a(href="#" title="" class="")
              span!= "ג"
          li
            a(href="#" title="" class="")
              span!= "ב"
          li
            a(href="#" title="" class="")
              span!= "א"

        ul.search__keyboard-list.search__keyboard-list--1
          li
            a(href="#" title="" class="")
              span!= "ע"
          li
            a(href="#" title="" class="")
              span!= "ס"
          li
            a(href="#" title="" class="")
              span!= "ן"
          li
            a(href="#" title="" class="")
              span!= "נ"
          li
            a(href="#" title="" class="")
              span!= "ם"
          li
            a(href="#" title="" class="")
              span!= "מ"
          li
            a(href="#" title="" class="")
              span!= "ל"
          li
            a(href="#" title="" class="")
              span!= "ך"
          li
            a(href="#" title="" class="")
              span!= "כ"

        ul.search__keyboard-list.search__keyboard-list--2
          li
            a(href="#" title="" class="")
              span!= "ת"
          li
            a(href="#" title="" class="")
              span!= "ש"
          li
            a(href="#" title="" class="")
              span!= "ר"
          li
            a(href="#" title="" class="")
              span!= "ק"
          li
            a(href="#" title="" class="")
              span!= "ץ"
          li
            a(href="#" title="" class="")
              span!= "צ"
          li
            a(href="#" title="" class="")
              span!= "ף"
          li
            a(href="#" title="" class="")
              span!= "פ"

      .search__keyboard-bottom
        a(href="#" title="" class="search__keyboard-clean")
          i
        a(href="#" title="" class="search__keyboard-space")
          i
        a(href="#" title="" class="search__keyboard-enter")!= "Enter"

// SEARCH :: END