// SWIPER :: START

//- Slider main container
.swiper-container

  //- Additional required wrapper
  .swiper-wrapper
    .swiper-slide
      .swiper-slide-top
        a.swiper-slide-menu(href="#" title="" data-id="0" featured-menu-js)
          span
          span
          span

        .swiper-slide-drop.animated(data-drop="0")
          ul
            li
              a(href="#" title="" class="")
                i
                span!= "Add"
            li
              a(href="#" title="" class="")
                i
                span!= "Download"
            li
              a(href="#" title="" class="")
                i
                span!= "Share"
            li
              a(href="#" title="" class="")
                i
                span!= "Send"

        a.swiper-slide-play(href="#" title="" featured-play-js)
          i.icon

        img.swiper-slide-img(
          src="./img/img-ava-0__featured.png"
          srcset="./img/img-ava-0__featured@2x.png 2x"
          title=""
          alt=""
          objectFit-js
        )

      .swiper-slide-bottom
        p.swiper-slide-title!= "The Beit Hamikdash - <br>Conslusion of Leil Lyun"
        p.swiper-slide-pos!= "Rabbi Aron Feldman"

    .swiper-slide
      .swiper-slide-top
        a.swiper-slide-menu(href="#" title="" data-id="1" featured-menu-js)
          span
          span
          span

        .swiper-slide-drop.animated(data-drop="1")
          ul
            li
              a(href="#" title="" class="")
                i
                span!= "Add"
            li
              a(href="#" title="" class="")
                i
                span!= "Download"
            li
              a(href="#" title="" class="")
                i
                span!= "Share"
            li
              a(href="#" title="" class="")
                i
                span!= "Send"

        a.swiper-slide-play(href="#" title="" featured-play-js)
          i.icon

        img.swiper-slide-img(
          src="./img/img-ava-1__featured.png"
          srcset="./img/img-ava-1__featured@2x.png 2x"
          title=""
          alt=""
          objectFit-js
        )

      .swiper-slide-bottom
        p.swiper-slide-title!= "The Beit Hamikdash - <br>Conslusion of Leil Lyun"
        p.swiper-slide-pos!= "Rabbi Aron Feldman"

    .swiper-slide
      .swiper-slide-top
        a.swiper-slide-menu(href="#" title="" data-id="2" featured-menu-js)
          span
          span
          span

        .swiper-slide-drop.animated(data-drop="2")
          ul
            li
              a(href="#" title="" class="")
                i
                span!= "Add"
            li
              a(href="#" title="" class="")
                i
                span!= "Download"
            li
              a(href="#" title="" class="")
                i
                span!= "Share"
            li
              a(href="#" title="" class="")
                i
                span!= "Send"

        a.swiper-slide-play(href="#" title="" featured-play-js)
          i.icon

        img.swiper-slide-img(
          src="./img/img-ava-2__featured.png"
          srcset="./img/img-ava-2__featured@2x.png 2x"
          title=""
          alt=""
          objectFit-js
        )

      .swiper-slide-bottom
        p.swiper-slide-title!= "The Beit Hamikdash - <br>Conslusion of Leil Lyun"
        p.swiper-slide-pos!= "Rabbi Aron Feldman"

    .swiper-slide
      .swiper-slide-top
        a.swiper-slide-menu(href="#" title="" data-id="3" featured-menu-js)
          span
          span
          span

        .swiper-slide-drop.animated(data-drop="3")
          ul
            li
              a(href="#" title="" class="")
                i
                span!= "Add"
            li
              a(href="#" title="" class="")
                i
                span!= "Download"
            li
              a(href="#" title="" class="")
                i
                span!= "Share"
            li
              a(href="#" title="" class="")
                i
                span!= "Send"

        a.swiper-slide-play(href="#" title="" featured-play-js)
          i.icon

        img.swiper-slide-img(
          src="./img/img-ava-3__featured.png"
          srcset="./img/img-ava-3__featured@2x.png 2x"
          title=""
          alt=""
          objectFit-js
        )

      .swiper-slide-bottom
        p.swiper-slide-title!= "The Beit Hamikdash - <br>Conslusion of Leil Lyun"
        p.swiper-slide-pos!= "Rabbi Aron Feldman"


  //- If we need navigation buttons
  .swiper-button-prev
    i.icon
  .swiper-button-next
    i.icon


// SWIPER :: END